<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta content="text/html; charset=UTF-8">
        <script>
            function setId() {
                var id = document.getElementById("mailAddress").value;
                localStorage.setItem("LoginId",id);
                location.href = "/regist";
            }
        </script>
    </head>
    <body>
        <header>
            <h1>ログイン画面</h1>
        </header>
        <label for="mailAddress">Email-Address</label>
        <input type="text" name="mailAddress" id="mailAddress">
        <label for="pasword">password</label>
        <input type="text" name="pasword" id="pasword">
        <button onclick="setId();">ログイン</button>
    </body>
</html>