<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta content="text/html; charset=UTF-8">
        <script>
            function setId() {
                location.href = "/";
            }

            // function regist() {
            //     const name = document.getElementById("name");
            //     const password = document.getElementById("password");
            //     const cfmPassword = document.getElementById("cfmPassword");
            //     location.href = "/home";
            // }
        </script>
    </head>
    <body>
        <header>
            <h1>新規登録画面</h1>
        </header>
        <ul>
            <% if(errors.length >0) { %>
                <% for(let i = 0; i < errors.length; i++) { %>
                <li><p><%= errors[i].msg %></p></li>
                <% } %>
            <% } %>
        </ul>
        <form action="/home" method="post">
            <input type="text" name="name" id="name" value="<%= name %>">
            <input type="text" name="password" id="password" value="<%= password %>">
            <input type="text" name="cfmPassword" id="cfmPassword" value="<%= cfmPassword %>">
            <input type="submit" value="登録">
        </form>
        <button onclick="setId();">back</button>
    </body>
</html>